# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.env/
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# Python logs
*.log

# Model artifacts
model/
*.pkl

# Streamlit cache
.streamlit/
